<div class="container" ng-controller="RegistroController as rc">

    <div class="row">

        <form class="form-horizontal" novalidate name="userForm">
            <fieldset>
                <div id="legend">
                    <legend class="">Registro</legend>
                </div>
                <div class="control-group">
                    <!-- Username -->
                    <label class="control-label"  for="nombre">Nombre</label>
                    <div class="controls">
                        <input type="text" id="nombre" name="nombre" placeholder="" class="input-xlarge"
                               ng-model="rc.user.nombre" ng-minlength="3" ng-maxlength="28"
                               required>
                        <div ng-messages="userForm.nombre.$error" style="color:maroon" role="alert" >
                            <div ng-message="required">Nombre de usuario puede contener letras o numeros, sin espacios.</div>
                            <div ng-message="maxlength">Longitud maxima 28 caracteres.</div>
                            <div ng-message="minlength">Longitud minima 3 caracteres.</div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <!-- E-mail -->
                    <label class="control-label" for="email">e-mail</label>
                    <div class="controls">
                        <input type="email" id="email" name="email" placeholder="" class="input-xlarge" ng-model="rc.user.username" required>
                    </div>
                    <div ng-messages="userForm.email.$error" style="color:maroon" role="alert" >
                        <div ng-message="required">Necesitamos tu e-mail para validarte, no para spam.</div>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password-->
                    <label class="control-label" for="password">Password</label>
                    <div class="controls">
                        <input type="password" id="password" name="password" placeholder="" class="input-xlarge"  ng-model="rc.user.password"
                               ng-minlength="6" required>
                    </div>
                    <div ng-messages="userForm.password.$error" style="color:maroon"  role="alert" >
                        <div ng-message="required">utiliza una clave fuerte, al menos 6 caracteres.</div>
                        <div ng-message="minlength">utiliza una clave fuerte, al menos 6 caracteres.</div>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Password -->
                    <label class="control-label"  for="password2">Password (repetir)</label>
                    <div class="controls">
                        <input type="password" id="password2" name="password2" placeholder="" class="input-xlarge"  ng-model="rc.user.password2"
                               ng-minlength="6" required>
                    </div>
                    <div ng-messages="userForm.password2.$error" style="color:maroon"  role="alert" >
                        <div ng-message="required">utiliza una clave fuerte, al menos 6 caracteres.</div>
                        <div ng-message="minlength">utiliza una clave fuerte, al menos 6 caracteres.</div>
                        <div ng-message="doesntMatch">las claves deben coincidir.</div>
                    </div>
                </div>

                <div class="control-group">
                    <!-- Button -->
                    <div class="controls">
                        <button class="btn btn-success" ng-click="rc.registrarme(userForm)">Registrarme</button>
                    </div>
                </div>
            </fieldset>
        </form>

    </div>

</div>
