<div class="container" ng-controller="ViajesController as vm">

    <br>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">
            Mis viajes a {{vm.lugar.nombre}}
            </h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="form-inline">
                    <div class="form-group">
                        <label for="nombre">Descripción</label>
                        <input type="text" class="form-control" id="nombre" ng-model="vm.newInstance.texto" >
                    </div>
                    <div class="form-group">
                        <label for="fechatope">Fecha Tope Pedidos</label>
                        <input type="date" class="form-control" id="fechatope" ng-model="vm.newInstance.fechatope" >
                    </div>
                    <div class="form-group">
                        <label for="vuelvo">Fecha de Vuelta</label>
                        <input type="date" class="form-control" id="vuelvo" ng-model="vm.newInstance.vuelvo" >
                    </div>
                    <button type="button" class="btn btn-default" ng-click="vm.save()">Nuevo</button>
                </div>
            </div>

            <div class="row" ng-show="vm.list.length">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Fecha Tope</th>
                        <th>Fecha Vuelta</th>
                        <th>Editar</th>
                        <th>&nbsp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in vm.list track by $index">
                        <td><input type="text" ng-model="u.texto" /></td>
                        <td><input type="text" ng-model="u.fechatope" readonly/></td>
                        <td><input type="text" ng-model="u.vuelvo" readonly/></td>
                        <td><div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn" ng-click="vm.update(u)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn" ng-click="vm.viajeSelected(u)">
                                <span class="glyphicon glyphicon-th-list"></span>
                            </button>
                        </div>
                        </td>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-warning" ng-click="vm.delete(u)">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="row" ng-show="vm.pedidos.length">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Descripcion</th>
                        <th>Cantidad</th>
                        <th>&nbsp</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="u in vm.pedidos track by $index">
                        <td>{{u.producto.texto}}</td>
                        <td>{{u.cantidad}}</td>

                        <td><div class="btn-group" role="group" aria-label="...">
                            <button type="button" class="btn" ng-click="vm.acceptPedido(u)">
                                <span class="glyphicon glyphicon-pencil"></span>
                            </button>
                            <button type="button" class="btn" ng-click="vm.rejectPedido(u)">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
