<div class="container">
    <br/>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title" ng-controller="UserController as uc">
                Bienvenido {{uc.username}}
            </h3>
        </div>
        <div class="panel-body">
            <div ng-include="'/telotraigodemipueblo/core/inbox.html'"></div>
        </div>
    </div>
</div>

<div ng-include="'/telotraigodemipueblo/network/formsearch.html'"></div>

