<div class="container" ng-controller="NetworkViajesController as vm">

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Usuario</th>
                <th>Lugar</th>
                <th>Fecha tope</th>
                <th>Comentario</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in vm.list track by $index">
                <td>{{$index+1}}</td>
                <td>{{u.usuario.username}}</td>
                <td>{{u.lugar.nombre}}</td>
                <td>{{u.fechatope}}</td>
                <td>{{u.texto}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn" ng-click="vm.infoViaje(u)">
                            <span class="glyphicon glyphicon-list-alt"></span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row" ng-show="vm.viaje">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                De {{vm.viaje.lugar.nombre}} {{vm.viaje.usuario.username}} te puede traer el {{vm.viaje.vuelvo}}:
                </h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Producto</th>
                            <th>Precio</th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="t in vm.lugar.tiene track by $index">
                            <td>{{$index+1}}</td>
                            <td>{{t.texto}}</td>
                            <td>{{t.precio}}</td>
                            <td>
                                <form class="form-inline">
                                    <div class="form-group">
                                        <label for="cantidad">Traeme:</label>
                                        <input type="number" class="form-control" id="cantidad" placeholder="Cantidad" ng-model="t.cantidad">
                                    </div>
                                    <div class="btn-group" role="group" aria-label="...">
                                        <button type="button" class="btn" ng-click="vm.realizarPedido(t)">
                                            <span class="glyphicon glyphicon-list-alt"></span>
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>