<div ng-controller="BuzonController as vm">

    <div class="row">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Enviado</th>
                <th>Mensaje</th>
                <th>Remitente</th>
                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="u in vm.mensajes track by $index">
                <td>{{$index+1}}</td>
                <td>{{u.enviado}}</td>
                <td>{{u.texto}}</td>
                <td>{{u.remitente.nombre}}</td>
                <td>
                    <div class="btn-group" role="group" aria-label="...">
                        <button type="button" class="btn" ng-click="vm.leido(u)">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                        <button type="button" class="btn" ng-show="{{u.tipo=='INVITACION'}}" ng-click="vm.acceptInvitation(u)">
                            <span class="glyphicon glyphicon-send"></span>
                        </button>

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div>